#video-progress {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 1vh;
  background: black;
  z-index: 5;
}
#video-progress .progress {
  background: rgba(255,0,0,1);
  width: 1vw;
  height: 1vh;
  /*transition: all 0.1s ease;*/
}

.center-marker {
  position: fixed;
  width: 0.5vw;
  height: 0.5vw;
  background: rgba(255,255,255,0.8);
  z-index: 6;
  right: 1vw;
  border-radius: 3vw;
}


#experience-progress {
  position: fixed;
  top: 0;
  right: 0;
  width: 1vmin;
  height: 100vh;
  background: black;
  z-index: 5;
}
#experience-progress .progress {
  background: rgb(255, 255, 255);
  opacity: 0.7;
  width: 0.2vw;
  height: 100vh;
  margin-top: -100vh;
  right: 1.15vw;
  transition: transform 0.3s ease;
  position: absolute;
  border-radius: 5vw;
}

::-webkit-scrollbar {
    display: none;
}

.control-play {
  position: fixed;
  top: 3vmin;
  right: 3vmin;
  color: white;
  z-index: 1;
}

.focus-toggles i {
  display: block;
  line-height: 5vmin;
}
#togglePlay {
  font-size: 5vmin;
  margin-right: 5vmin;
}

.control-play i {
  font-size: 8vmin;
  text-shadow: 0 0.5vmin 1vmin rgba(0,0,0,0.5);
  line-height: 100%;
  cursor: pointer;
}
#unsupported {
  margin: 0 auto;
  text-align: center;
  margin: 50px;
  display: none;
}

.loading {
    width: 100vw;
    height: 100vh;
    background: black;
    z-index: 7;
    position: fixed;
    text-align: center;
    padding-top: 30vh;
}
.loading h3 {
  font-weight: 400;
}


.pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;

  z-index: 2000;
  position: fixed;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 5vh;
  width: 50vw;
  background: transparent;
  border: none;

  overflow: hidden;
}

.pace .pace-progress {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;

  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);

  max-width: 200px;
  position: fixed;
  z-index: 2000;
  display: block;
  position: absolute;
  top: 0;
  right: 100%;
  height: 100%;
  width: 100%;
  background: #29d;
}

.pace.pace-inactive {
  display: none;
}


.quote-read {
  /*position: fixed;
  top: 33%;
  right: 10%;*/
  color: white;
  /*max-width: 45%;*/
  opacity: 0;
  font-weight: normal;
  font-size: 4.5vmin;
  text-align: right;
}
.quote-hidden {
  opacity: 0;
  display: block;
}
.quote-hidden strong, .emphasis strong {
  color: rgba(159,201,98,1);
  font-weight: 400;
}
.quote-source {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 3vmin;
  display: block;
}
.quote-source a {
  color: rgba(159,201,98,0.7);
}


.left, .right {
  float: left;
}
.table {
  position: relative;
}
.too-long-quote {
  position: fixed;
  top: 0;
  left: 0;
  font-size: 6.5vmin;
  text-align: center;
  color: rgba(255,255,255,0.3);
  width: 100%;
  height: 100%;
  overflow: hidden;
  /*background: #333;*/
  padding-top: 4vmax;
  -webkit-filter: blur(2px);
}
.text-centered {
  text-align: center;
}
.onTop {
  z-index: 20000;
}
